:local(.comic) {

  button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 140px;
    cursor: pointer;
    padding: 9px 20px;
    overflow: hidden;
    border: 1px solid;
    font: normal 20px/1 "Bangers", Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #ffffff;
    -webkit-box-shadow: 3px 3px 0 0 rgba(0,0,0,0.8) ;
    box-shadow: 3px 3px 0 0 rgba(0,0,0,0.8) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  }
  
  button:active {
    margin: 3px 0 0 3px;
    -webkit-box-shadow: 1px 1px 1px 0 rgb(230, 183, 95, 0.8);
    box-shadow: 1px 1px 1px 0 rgb(230, 183, 95, 0.8);
  }

  *,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #fff;
  color: #444;
}

img {
  max-width: 100%;
}

h1,
p {
  margin: 0 0 1em 0;
}

.media {
  margin-bottom: 2em;
  border: 2px solid #444;
  padding: 10px;
  max-width: 600px;
}

.media > .title { grid-area: title; }
.media > .img { grid-area: img; }
.media > .content { grid-area: bd; }
.media > .footer { grid-area: ft; }

.media {
  display: grid;
  grid-column-gap: 20px;
  grid-template-areas:
    "title"
    "img"
    "bd"
    "ft";
}


@media (min-width: 600px) {

  /* clearfix*/
  .media:after {
    content: "";
    display: block;
    clear: both;
  }

  .media > .media {
    margin-left: 160px;
    clear: both;
  }

  .media .img {
    float: left;
    margin: 0 10px 0 0;
    width: 150px;
  }
  
  .media .footer {
    background-color: #CE7840;
    padding: 10px;
  }

  .media > * {
    margin: 0 0 0 160px;
  }

  @supports(display: grid ) {
    /* override */
    .media > * {
      margin: 0;
    }
    .media .img {
      width: auto;
      margin: 0;
    }
    .media:after {
      content: none;
    }

    .media {
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: 150px 3fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "img title"
        "img bd"
        "ft ft";
    }

    /* nested */
    .media > .media {
      grid-column: 2 / -1 ;
      margin: 0; /* override */
      margin-top: 1em;
    }
  }


}

.footer {  
  /*
    size progressively decreasing 
  */
    background-image:
      radial-gradient(
        circle,
        #AE3728 85%,
        transparent 0
        ),
      radial-gradient(
        circle,
        #AE3728 80%,
        transparent 0
        ),
      radial-gradient(
        circle,
        #AE3728 75%,
        transparent 0
        ),
      radial-gradient(
        circle,
        #AE3728 70%,
        transparent 0
        ),
      radial-gradient(
        circle,
        #AE3728 65%,
        transparent 0
        ),
      radial-gradient(
        circle,
        #AE3728 60%,
        transparent 0
        ),
      radial-gradient(
        circle,
        #AE3728 55%,
        transparent 0
        ),
      radial-gradient(
        circle,
        #AE3728 50%,
        transparent 0
        ),
      radial-gradient(
        circle,
        #AE3728 45%,
        transparent 0
        ),
      radial-gradient(
        circle,
        #AE3728 40%,
        transparent 0
        ),
      radial-gradient(
        circle,
        #AE3728 35%,
        transparent 0
        ),
      radial-gradient(
        circle,
        #AE3728 30%,
        transparent 0
        ),
      radial-gradient(
        circle,
        #AE3728 25%,
        transparent 0
        ),
      radial-gradient(
        circle,
        #AE3728 20%,
        transparent 0
        );  
   
  /*
    change all other values when changing this.
    I suppose this'd be easier to do in Sass.
  */
    background-size: 1em 1em;
    
  /*
    If you want a vertical pattern change to repeat-x, also remember to  switch the background-positions' values. Eg. "2em 0" becomes "0 2em".
  */
    background-repeat: repeat-x;
    
  /*
    based on background-size value
  */
    background-position:
      0 0, 
      0 1em, 
      0 2em, 
      0 3em, 
      0 4em, 
      0 5em, 
      0 6em,
      0 7em,
      0 8em,
      0 9em,
      0 10em,
      0 11em,
      0 12em,
      0 13em;
    }

 



}