// font-family: 'Bangers', sans-serif;
// font-family: 'Architects Daughter', sans-serif;

body {
  font-family: "Architects Daughter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0px;
  color: black;
  background-color: white; 
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  body {
    font-family: "Architects Daughter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: 0px;
    color: black;
    background-color: white; 
  }

  h1 {
    font-family: "Bangers", sans-serif;
  }

}