:local(.app) {

  h1 {
    color: #AE3728;
  }
  
  header {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  nav-ul {
    align-content: center;
  }

  a:visited { 
    color: #999;
    }

  main {
    margin: 0% 4% 0% 4%;
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    header {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      background-color: #FFF;
    }
  
  }

}