:local(.app) {

  h1 {
    color: #AE3728;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    font-size: 60px;
  }
  
  header {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  a:visited { 
    color: #E6B75F;
    }

  main {
    width: 600px;
    margin: 0 auto;
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    header {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      background-color: #FFF;
    }
  
  }

}