:local(.app) {

  h1 {
    color: white;
  }
  
  header {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  nav-ul {
    align-content: center;
  }

  main {
    margin: 0% 4% 0% 4%;
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    header {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      background-color: #2B4353;
    }
  
  }

}