:local(.header) {
  @import url('https://fonts.googleapis.com/css?family=Bangers');
  text-align: center;
  font-family: Helvetica, sans-serif;
  justify-content: center;
  box-shadow: 0 8px 6px -6px black;
  width: 600px;
  margin: 0 auto;

  h1 {
    font-family: 'Bangers', sans-serif;
    padding: 0;
  }

}