:local(.catalogItem) {
    @import url(https://use.fontawesome.com/releases/v5.3.1/css/all.css);

    img {
        width: 280px;
    }

    button i {
    color: #ae3728;
    }

    h1 {
        font-family: "Bangers", sans-serif;
        font-size: 30px;
      }
    
    h2 {
        font-family: "Architects Daughter", sans-serif;
        font-size: 22px;
      }
    
    p {
        font-family: "Helvetica", sans-serif;
        font-size: 16px;
      }

    .user-settings {
        background-color: lightgreen;
        display: flex;
        
    }

    



}