:local(.credentials) {

  .avatar {
    width: 75px;
  }

  button {
    cursor: pointer;
    margin: 8px;
    border: 2px solid #088af5;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  button:hover {
      background-color: #088af5; 
      color: white;
  }

  .input-hidden {
    position: absolute;
    left: -9999px;
  }

  .toggle {
    display: none;
  }

  .pickAvatar {
    display: flex;
    
  }

}