:local(.credentials) {

  .avatar {
    width: 75px;
    margin: 6px;
  }

  input[type="radio"]:checked+label {
    img {
        border: 2px solid black;
        border-radius: 50%;
    } 
}
input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}

  button {
    cursor: pointer;
    margin: 8px;
    border: 2px solid #ae3728;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  button:hover {
      background-color: #ae3728; 
      color: white;
  }

  .input-hidden {
    position: absolute;
    left: -9999px;
  }

  .toggle {
    display: none;
  }

  .pickAvatar {
    display: flex;
    
  }

  
  .emailLabel {
    font-size: 20px;
    font-weight: 700;
  }
  
  .emailForm {
    width: 600px;
    height: 40px;
    margin-top: 6px;
  }
  .passLabel {
    font-size: 20px;
    font-weight: 700;
  }

  .passForm {
    width: 600px;
    height: 40px;
    margin-top: 6px;
  }

  .signUpForm1 label {
    font-size: 20px;
    font-weight: 700;
  }

  .signUpForm2 input {
    width: 600px;
    height: 40px;
    margin-top: 6px; 
  }

  .signUpForm2 label {
    font-size: 20px;
    font-weight: 700;
  }

}